{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  
  <div class="px-3 py-3 my-3">
    <p>
      <b class="term">TF-IDF</b> 
      (от англ. TF — <em>term frequency</em>, IDF — <em>inverse document frequency</em>) — 
      статистическая мера, используемая для оценки важности слова в контексте документа, 
      являющегося частью коллекции документов или корпуса.</p>
    <p>
      <b class="term">TF</b> 
      (<em>term frequency </em>— частота слова) — 
      отношение числа вхождений некоторого слова к общему числу слов документа.</p>
    <p>
      <b class="term">IDF</b> 
      (<em>inverse document frequency</em> — обратная частота документа) — инверсия частоты, 
      с которой некоторое слово встречается в документах коллекции. </p>  
  </div>
  
  <div class="card my-4">
    <div class="card-header text-start">
      Загрузить текстовый документ
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <label for="formFile" class="form-label">Принимаются только файлы <b>.txt</b></label>
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name="text_file" accept=".txt">
        </div>
        <div class="mb-3">
          {% bootstrap_button button_type="submit" content="Сгенерировать таблицу" %}
        </div>
      </form>
    </div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Слово</th>
      <th>TF (частота слова)</th>
      <th>IDF (обратная частота документа)</th>
    </tr>
    {% if data %}
      {% for term in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% for value in term %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% elif error %}
      <div class="px-3 py-3 my-3">
        <p class="text-danger">{{ error }}</p>
      </div>
    {% endif %}
  </table>

{% endblock %}